<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ride</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
        </ul>
    </nav>
</header>

Add Ride

<form action="#" th:action="@{/addRidePost}" th:object="${ride}" method="post">
    <div>
        <label for="rideDate">Ride Date:</label>
        <input type="date" id="rideDate" th:field="*{rideDate}" />
    </div>
    <div>
        <label for="rideTime">Ride Time:</label>
        <input type="time" id="rideTime" th:field="*{rideTime}" />
    </div>
    <div>
        <label>Ride Type:</label>
        <input type="radio" th:field="*{rideType}" value="I_AM_DRIVER" id="I_AM_DRIVER" />
        <label for="I_AM_DRIVER">I AM DRIVER</label>
        <input type="radio" th:field="*{rideType}" value="I_AM_PASSENGER" id="I_AM_PASSENGER" />
        <label for="I_AM_PASSENGER">I AM PASSENGER</label>
    </div>
    <div>
        <label for="rideComment">Comment:</label>
        <textarea id="rideComment" th:field="*{rideComment}"></textarea>
    </div>
    <div>
        <label for="fromCity">From City:</label>
        <select id="fromCity" th:field="*{fromCity}">
            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.cityName}"></option>
        </select>
    </div>
    <div>
        <label for="toCity">To City:</label>
        <select id="toCity" th:field="*{toCity}">
            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.cityName}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Add Ride</button>
    </div>
</form>

</body>
</html>
