<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User Details</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <!-- Add other menu items here -->
        </ul>
    </nav>
</header>
<h1>Edit User Details</h1>
<form th:action="@{/saveUserDetails}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="picture">Picture URL (read only):</label>
        <input type="text" id="picture" th:field="*{picture}" readonly="readonly"  />
    </div>
    <div>
        <img th:src="@{${user.picture}}" alt="User Image"/>
    </div>
    <div>
        <label for="name">Full Name (read only):</label>
        <input type="text" id="name" th:field="*{name}" readonly="readonly" />
    </div>
    <div>
        <label for="telephone">Telephone:</label>
        <input type="tel" id="telephone" th:field="*{telephone}" />
    </div>
    <div>
        <label for="email">Email (read only):</label>
        <input type="email" id="email" th:field="*{email}" readonly="readonly" />
    </div>
    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>
</body>
</html>
