<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <nav class="menu-items">
        <ul>
            <li><a th:href="@{/}" class="inline-item">Home</a></li>
            <li><a th:href="@{/addRide}" class="inline-item">Add ride</a></li>
            <li><a th:href="@{/editUser(id=${user.id})}" class="inline-item">Edit User</a></li>
        </ul>
    </nav>
</header>
<h1>Welcome to Shareazade!</h1>


<footer th:insert="rides.html :: rides"></footer>
</body>
</html>
