<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

        <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/addRide}">Add ride</a></li>
            <!-- Add other menu items here -->
        </ul>
    </nav>
</header>
<h1>Welcome to Shareazade!</h1>

<div>
    <!-- other content -->
    <div th:replace="fragments/userDetails.html :: userDetails(${user})"></div>
    <!-- more content -->
</div>
<footer th:insert="rides.html :: rides"> </footer>
</body>
</html>
