<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View User Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <!-- Add other menu items here -->
        </ul>
    </nav>
</header>

<h1>View User Details</h1>
<div>

    <div th:replace="fragments/userDetails.html :: userDetails(${user})"></div>

</div>
</body>
</html>
